[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
UserSettings/

.gradle/
**/Android/.gradle/
**/gradleOut/
**/Gradle/
**/gradle/
**/*.apk
**/*.aab

.vs/
.vscode/

*.csproj
*.sln
*.user
*.unityproj

QCAR/
.utmp/

